.ColorRojo{
    background-color: #EB5757;
    height: 67px;
    width: 364px;
    
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-image: url(../assets/Vector.png);
    background-repeat: no-repeat;
    background-position: 95%;
    margin-top: 0px;
    align-items: center;
}
.CollorRojo div{
    font-size: 20px;
    color: white;
    align-items: center;
}
